DirectoryIndex index.html index.php

# Redirect www to non-www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.biotc\.pl [NC]
RewriteRule ^ https://biotc.pl%{REQUEST_URI} [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
